* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(Lumiere.webp);
  background-size: cover;
}

main {
  /* background: url(bg2.png) center;
  background-size: cover; */
}

header {
  /* height: 75vh;
  background: url(Lumiere.png) center;
  background-size: cover; */
}

header ul {
  padding: 75px 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.948),
    rgba(0, 0, 0, 0.809),
    rgba(0, 0, 0, 0.728),
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.554),
    rgba(0, 0, 0, 0.454),
    rgba(0, 0, 0, 0.354),
    rgba(0, 0, 0, 0.254),
    rgba(0, 0, 0, 0.154),
    rgba(0, 0, 0, 0)
  );
}
nav ul {
  gap: 100px;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  list-style-type: none;
  padding: 25px 0 15px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
}

a:hover {
  color: #633559;
}

h1 {
  font-size: 6rem;
  text-align: center;
  margin-top: 10%;
}

h2 {
  padding-top: 50px;
}
img {
  width: 100%;
  border-radius: 25px;
}
.container {
  padding-bottom: 50px;
}

p {
  border-radius: 20px;
  padding: 25px;
  max-width: 80%;
  margin: 0 auto;
  line-height: 50px;
  background: rgba(0, 0, 0, 0.484);
  color: azure;
  margin-top: 20px;
}
.container1 {
  display: flex;
  padding: 50px 0 25px 0;
  gap: 60px;
  justify-content: center;
}

article {
  width: 350px;
  display: flex;
  justify-content: center;
  padding: 25px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.484);
}
.container1 div {
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(#632957d6, #a3a3a3, #7e2525); */
}

.container1 div ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container1 div ul li {
  line-height: 0px;
  color: azure;
}
div {
  width: 250px;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 900;
  font-size: 3.5rem;
  padding-top: 50px;
  color: rgb(1, 1, 1);
}

h3 {
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.container1 h3 {
  color: azure;
}

.container1:hover article:hover {
  opacity: 1;
  transition: filter 0.3s ease;
  filter: none;
}

.container1:hover article {
  opacity: 0.8;
  filter: blur(5px);
}

.container1:has(~ * + article:hover) {
  filter: blur(5px);
}
